body{
    background-color: #444;
    color: white;
}
#Do{
    background-color: #222;
    border-radius: 10px;
    border: none;
    color: white;
    margin-right: 5px;
}
#btnAdd{
    color: greenyellow;
    font-weight: bold;
    border-radius: 50px;
    border: 2px solid greenyellow;

}
section .card{
    background-color: #444;
    border: none;
}
section .row{
    border-radius: 10px;
    border: none;
    background-color: #222;
}
section .row input{
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #222;
}
section .row .edit{
    width: 90%;
    color: rgb(185, 1, 185);
    font-weight: bold;
    border: 2px solid rgb(185, 1, 185);
    border-radius: 20px;
    padding: 2px;
    margin-bottom: 4px;
    margin-top: 4px;
}
section .row .delete{
    width: 90%;
    color: crimson;
    font-weight: bold;
    border: 2px solid crimson;
    border-radius: 20px;
    padding: 2px;
    margin-bottom: 4px;
}

